/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100vw; 
}
#tutorials, #homework{
    width: 50%;
    font-family: 'Roboto', sans-serif;
    text-indent: 5%;
}
body {
    margin: 0px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-size: 20px;
}

header {
    background: rgb(255, 237, 240);
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    align-self: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#tutorials {
    margin-top:120px;
    background: rgb(216, 241, 250);
}

#homework{
    margin-top:120px;
    background: rgb(255, 255, 228);
}


header, section {
    padding: 10px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    width: 100%;
    background-color: #F0F0F0;
    font-family: "Times New Roman", Times, serif;
    line-height: 50%;   
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

