
.container {
   display: grid;
   grid-template-columns: 0.75fr 0.25fr 1fr 1fr 0.4fr;
   grid-template-rows: 0.2fr 0.25fr 1fr 0.75fr;
   grid-template-areas: 
      "a . . b b"
      ". . . . ."
      "c c d e f"
      "g g g g f"; 
   min-height: 100vh;
   grid-row-gap: 30px;
   grid-column-gap: 20px;
}

article, aside, section, main {
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid 1px #000;
}

.menu1 {
   grid-area: a;
   background: #de0a7e;
}

.menu2 {
   grid-area: b;
   background: yellow;
}

.card1 {
   grid-area: c;
   background: #00a4cf;
}

.card2 {
   grid-area: d;
   background: #00a4cf;
}

.card3 {
   grid-area: e;
   background: #00a4cf;
}

.aside {
   grid-area: f;
   background: #36353a;
}

.main {
   grid-area: g;
   background: #00a4cf;
}

* {
   box-sizing: border-box;
}
html, body {
   margin: 10px;
   padding: 10px;
   font-size: 1.2em;
   font-weight: bold;
   font-family: Arial;
   height: 100%;
}

section {
   border: solid 1px #000;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 1024px) {
   /* tablet layout here */
   .container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 6fr 3fr 2fr;
      grid-template-areas: 
         "a . b b"
         "f f f f"
         "c c d d"
         "e e e e"
         "g g g g"; 
      min-height: 100vh;
   }
}

@media (max-width: 600px) {
   .container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 4fr 4fr 4fr 2fr 1fr;
      grid-template-areas: 
         "a . ."
         "b b b"
         "c c c"
         "d d d"
         "e e e"
         "g g g "
         "f f f"; 
      min-height: 100vh;
   }
}
}